@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.heroWrapper,
.centerNav li,
.ctaButton,
.title,
.subtitle {
  font-family: 'Press Start 2P', cursive !important;
}

.heroWrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.backgroundVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: none !important;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.08); 
  z-index: 1; 
}


.logoWrapper {
  position: absolute;
  top: 48px;
  left: 45px;
  z-index: 30;
}

.logoWrapper img {
  width: 150px;
  filter: drop-shadow(0 0 10px white);
}

.navbar {
  position: absolute;
  top: 60px;
  left: calc(50% + 40px);
  transform: translateX(-50%);
  width: 75%;
  height: 62px;
  padding: 0 40px;

  background: rgba(34, 11, 65, 0.42);
  /* border:  solid rgba(255, 255, 255, 0.35); */
  border-radius: 35px;
  backdrop-filter: blur(6px);
  width: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.centerNav {
  display: flex;
  gap: 42px;
  list-style: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.centerNav li {
  cursor: pointer;
  transition: 0.25s ease;
}

.centerNav li:hover {
  color: #d58bff;
  text-shadow: 0 0 10px #d58bff;
}

.centerText {
  position: relative;
  z-index: 25;
  text-align: center;
  margin-top: 210px;
}

.title {
  font-size: 70px;
  color: white;
  text-shadow: 0 0 12px rgba(255,255,255,0.8);
}

.subtitle {
  font-size: 32px;
  margin-top: 20px;
  color: #2b195d;
  text-shadow: none !important; 
}

.ctaButton {
  margin-top: 40px;
  padding: 16px 34px;
  border: none;
  border-radius: 40px;

  background: #4da3ff;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.ctaButton:hover {
  background: #1f89ff;
  box-shadow: 0 0 12px #6ebbff;
}
